@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');




*{margin: 0px;
padding: 0px;
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;
text-decoration: none;
}

body {display: flex;
justify-content: center;
align-items: center;
height: 100vh;
color: white;
font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

main {background-color: black;
    height:600px;
    width: auto;
    padding: 20px;
border-radius: 18px;
display: flex;
flex-direction: column;
justify-content: space-between;

}
#infor {display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}

#infor h1 {text-align: center;
margin: 10px 0px 10px 0px;
 font-family: "Grand Hotel", cursive;
 font-size: 2.5em;
 letter-spacing: 2px;
}

#infor form { display: flex;
flex-direction: column;
gap: 10px;}

#infor input {border-radius: 10px;
padding: 10px;
width: 300px;
border: none;
background-color: rgb(67, 65, 65);

}

#infor input::placeholder {color: rgb(189, 185, 185);}

#infor button {padding: 7px;
border-radius: 10px;
width: 300px;
border: none;
background-color: rgb(54, 145, 235);
color: white;}

div {display: flex;
gap: 10px;
justify-content: center;}

div .cinza {color: rgb(137, 137, 137);}

div a {color: white;
font-size: 0.7em;}
hr {color: rgb(187, 187, 187);
margin-bottom: 10px;}

#cadastro {text-align: center;
margin-bottom: 50px;
}
#cadastro p {color: rgb(170, 164, 164);
gap:5px ;}
#cadastro a {color: white;}